<%- include('partials/header.ejs') %>
<div class="view-post-container">
  <img src="/images/<%= post.id %>.jpg" alt="" />
  <h1><%= post.title %></h1>
  <p><%= post.content %></p>
  <div class="view-post-buttons">
    <form action="delete-post/<%= post.id %>" method="POST" class="deletepost">
      <input type="hidden" name="id" value="<%= post.id %>" />
      <button type="submit">Delete Post</button>
    </form>
    <form action="edit-post/<%= post.id %>" method="POST">
      <input type="hidden" name="id" value="<%= post.id %>" />
      <button type="submit">Edit Post</button>
    </form>
  </div>
</div>

<%- include('partials/footer.ejs') %>
